

# IntelliJ project files
.idea
*.iml
out
gen

#User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# virtualenv
.venv
venv/
ENV/
## csv
.csv
*.csv
CSV_History/
.CSV_History